:root {
    --body-bg: #92C7CF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: var(--body-bg);
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
