.guide {
    position: fixed;
    font-size: 1.3rem;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: var(--label-color);
    opacity: 0.8;
    text-shadow: 1px 1px gray;
    text-wrap: nowrap;
}
