@font-face {
    font-family: "D2Coding";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MonoplexKRWideNerd-BoldItalic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-widenerd@1.0/MonoplexKRWideNerd-BoldItalic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
    --body-bg: #e7efeb;
    --node-stroke-color: #fff;
    --link-stroke-color: #999;
    --label-color: black;
    --code-color: #f5f2f0;
    --post-title-size: 2.5rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-size: 18px;
    background-color: var(--body-bg);
    font-family: "Noto Sans KR", sans-serif;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

code {
    font-family: "D2Coding";
    padding: 0 6px;
    margin: 0 1px;
    border-radius: 2px;
    background-color: var(--code-color);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
