@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
.svg_graph {
    position: absolute;
    width: 100vw;
    height: 100vh;
    & line {
        stroke: var(--link-stroke-color);
        stroke-width: 1;
    }

    & circle {
        cursor: grab;
        r: 5;
        &:not(.completed) {
            fill: var(--body-bg);
            stroke-width: 0.8;
            stroke-dasharray: (1.5, 0.6);
            filter: grayscale(0.3);
        }
    }

    & text {
        cursor: grab;
        font-family: "WantedSansVariable", sans-serif;
        font-size: 0.3rem;
        text-anchor: middle;
        fill: var(--label-color);
        word-spacing: -1px;
        &:not(.completed) {
            font-size: 0.25rem;
            fill: rgb(99, 99, 99);
        }
    }
}
