@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
.svg_graph {
    position: absolute;
    width: 100vw;
    height: 100vh;
    & line {
        stroke: gainsboro;
        stroke-width: 2px;
    }
    & g.node {
        cursor: pointer;
        & circle.complete {
            r: 0.8rem;
            fill: var(--node-complete-color);
        }
        & circle.draft {
            r: 0.8rem;
            fill: var(--node-draft-color);
        }
        & circle.pending {
            r: 0.8rem;
            fill: var(--node-pending-color);
            filter: blur(0.5px);
        }
        & text.label {
            font-family: "WantedSansVariable", sans-serif;
            font-weight: 500;
            font-size: 1.1rem;
            text-anchor: middle;
            fill: var(--label-color);
            word-spacing: -0.2rem;
        }
    }
}
