@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
.svg_graph {
    position: absolute;
    width: 100vw;
    height: 100vh;
    & line {
        stroke: var(--link-stroke-color);
        stroke-width: 1.5;
        stroke-opacity: 0.6;
    }
    & circle {
        cursor: grab;
        r: 5;
        &.completed {
            stroke: var(--node-stroke-color);
            stroke-width: 1.5;
        }
        &:not(.completed) {
            filter: grayscale(0.5);
            filter: brightness(0.85);
        }
    }
    & text {
        cursor: grab;
        font-family: "WantedSansVariable", sans-serif;
        font-size: 0.4rem;
        text-anchor: middle;
        fill: var(--label-color);
        // word-spacing: -0.4rem;
        &:not(.completed) {
            font-size: 0.3rem;
            fill: gray;
        }
    }
}
